/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.example
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


/resources/js/components/asset/css/*.css
/resources/js/components/asset/css/*.css.map
/resources/js/store/channels/dist
/.env
/database/database.sqlite